﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Instant Payment Notification</title>


</head>
<body style="-webkit-text-size-adjust: none; box-sizing: border-box; color: #74787E; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; height: 100%; line-height: 1.4; margin: 0; width: 100% !important;" bgcolor="#F2F4F6">
    <style type="text/css">
        body {
            width: 100% !important;
            height: 100%;
            margin: 0;
            line-height: 1.4;
            background-color: #F2F4F6;
            color: #74787E;
            -webkit-text-size-adjust: none;
        }

        @media only screen and (max-width: 600px) {
            .email-body_inner {
                width: 100% !important;
            }

            .email-footer {
                width: 100% !important;
            }
        }

        @media only screen and (max-width: 500px) {
            .button {
                width: 100% !important;
            }
        }
    </style>

    <table class="email-wrapper" width="100%" cellpadding="0" cellspacing="0" style="box-sizing: border-box; font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif; margin: 0; padding: 0; width: 100%;" bgcolor="#F2F4F6">
    
         <tbody>
                <tr width="100%">
                    <td valign="top" align="left" style="background:#eef0f1;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica">
                        <table style="border:none;padding:0 18px;margin:50px auto;width:500px">
                            <tbody>
                                <tr width="100%" height="60">
                                    <td valign="top" align="left" style="border-top-left-radius:4px;border-top-right-radius:4px;background:#243770 url(https://ci5.googleusercontent.com/proxy/EX6LlCnBPhQ65bTTC5U1NL6rTNHBCnZ9p-zGZG5JBvcmB5SubDn_4qMuoJ-shd76zpYkmhtdzDgcSArG=s0-d-e1-ft#https://trello.com/images/gradient.png) bottom left repeat-x;padding:21px 10px 18px;text-align:center; color:#fff; font-size:20px;">
                                            PAYMENT NOTIFICATION
                                    </td>
                                    <td valign="top" align="right" style="border-top-left-radius:4px;border-top-right-radius:4px; bottom left repeat-x;padding:21px 10px 18px; ">
                                        
                                    </td>
                                </tr>
                                <tr width="100%">
                                    <td valign="top" align="left" style="background:#fff;padding:18px">
                                        <p style="font:15px/1.25em 'Helvetica Neue',Arial,Helvetica;color:#333;text-align:center; font-weight:600;"> PAYMENT DETAILS </p>

                                        <div style="border-radius:3px">
                                            <br />
                                            <table style="width:100%; text-align:left;">
                                                <thead>
                                                    <tr>
                                                        <th scope="col"></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="border-bottom:2px solid #ccc; padding:10px;">
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;">PAYER ID</td>
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;"> {{payer_id}}</td>
                                                    </tr>
                                                    <tr style="border-bottom:2px solid #ccc; padding:10px;">
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;">AMOUNT</td>
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;"> {{mc_gross}} ({{mc_currency}})</td>
                                                    </tr>
                                                    <tr style="border-bottom:2px solid #ccc; padding:10px;">
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;">INVOICE NO.</td>
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;"> {{invoice}}</td>
                                                    </tr>
                                                    <tr style="border-bottom:2px solid #ccc; padding:10px;">
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;">ITEM NAME</td>
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;"> {{item_name}}</td>
                                                    </tr>
                                                    <tr style="border-bottom:2px solid #ccc; padding:10px;">
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;">ITEM NUMBER</td>
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;"> {{item_number}}</td>
                                                    </tr>
                                                    <tr style="border-bottom:2px solid #ccc; padding:10px;">
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;">TRANSACTION TYPE</td>
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;"> {{txn_type}}</td>
                                                    </tr>
                                                    <tr style="border-bottom:2px solid #ccc; padding:10px;">
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;">TRANSACTION ID</td>
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;"> {{txn_id}}</td>
                                                    </tr>
                                                    <tr style="border-bottom:2px solid #ccc; padding:10px;">
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;">PAYMENT TYPE</td>
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;"> {{payment_Type}}</td>
                                                    </tr>
                                                    <tr style="border-bottom:2px solid #ccc; padding:10px;">
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;">DATE</td>
                                                        <td style="border-bottom:2px solid #ccc; padding:10px;"> {{payment_date}}</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                            <br />
                                        </div>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
    </table>
</body>
</html>
